# Z Tilt Bed Adjustment settings
[z_tilt]
#3 Z Motors
z_positions: 
    -74.0, -18.0    # Front Left
    76.0,  217.0    # Rear
    226.0, -18.0    # Front Right
points:
    45, 8           # Front Left
    101, 143        # Rear
    175, 8          # Front Right
speed: 200
horizontal_move_z: 20.0
retries: 4
retry_tolerance: 0.01